
.header_container {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 9999;
}

.nav_container {
    padding: 1rem;
}

.nav_menu {
    background-color: antiquewhite;
    width: 50%;
    height: 30vh;
    padding:0.5rem;
    margin-top: 1rem;
    transform: translateX(250%);
    transition: transform 1.5s cubic-bezier(0.52, 0.34, 0.25, 1.2);
    position: relative;
    z-index: 9999;
    border-radius: 10%;
    
}

.active {
    transform: translateX(100%);

}

.nav_list {
    height: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    padding-top: 1rem;
    
}

.menu_btn {
    background-color: antiquewhite;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    font-size: 0.7rem;
    z-index:9999;
}

.menu_btn:hover {
    transform: scale(1.2);
}

.header_logo{
    width: 20%;
    height: inherit;
}
.hide{ 
    display: none;
}

.nav_list a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.close_menu {
    font-size: 1.5rem;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    z-index: 110;
}

.close_menu:hover {
    cursor: pointer;
}